{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4 mb-0">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Статьи</li>
            </ol>
        </nav>
    </div>
    {% include 'includes/article.html' %}
    {% include 'includes/pagination.html' %}
{% endblock %}
