{% extends 'base.html' %}

{% block title %}Ошибка отправки{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 60vh;">
            <div class="col-md-6 text-center">
                <div>
                    <h1 class="display-4 fw-bold my-4">Ошибка!</h1>
                    <p class="lead">Увы! Ваше сообщение не было доставлено (Вы сделали слишком много запросов).</p>
                    <p>Вы будете перенаправлены на страницу <a href="/contacts/">контакты</a> через несколько секунд.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = "/contacts/";
        }, 5000); // 5000 миллисекунд = 5 секунд
    </script>
{% endblock %}