{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4 mb-0">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Услуги</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <h1 class="my-4 fw-bold">Наши Услуги</h1>
            <div class="col-12">
                <div class="list-group">
                    {% for service in services %}
                    <a href="{% url 'service_detail' slug=service.slug %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <span>{{ service.title }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}